body {
  font-size: 14px;
  width: 467px;
}
.jira-form {
  margin-top: 1em;
}
.hidden {
  display: none;
}
.progress {
  margin-bottom: 0;
}
.list-group-item>.status {
  position: relative;
  margin-top: -11px;
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  float: left;
}
.list-group-item>.fix-version {
  position: relative;
  margin-top: -11px;
  margin-left: -15px;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
  float: left;
}
.jira-ticket > h5 > a > b {
  padding: 0 0.2em;
}
p.assignee {
  margin-bottom: 0.1em;
}
.assignee > em{
  padding: 0 0.4em;
}
.issuetype {
  position: relative;
  float: right;
  margin-right: -15px;
  margin-top: -13px;
}
.badge-default {
  background-color: #95a5a6;
}
.badge-default[href]:hover,
.badge-default[href]:focus {
  background-color: #798d8f;
}
.badge-primary {
  background-color: #2c3e50;
}
.badge-primary[href]:hover,
.badge-primary[href]:focus {
  background-color: #1a242f;
}
.badge-success {
  background-color: #18bc9c;
}
.badge-success[href]:hover,
.badge-success[href]:focus {
  background-color: #128f76;
}
.badge-info {
  background-color: #3498db;
}
.badge-info[href]:hover,
.badge-info[href]:focus {
  background-color: #217dbb;
}
.badge-warning {
  background-color: #f39c12;
}
.badge-warning[href]:hover,
.badge-warning[href]:focus {
  background-color: #c87f0a;
}
.badge-danger {
  background-color: #e74c3c;
}
.badge-danger[href]:hover,
.badge-danger[href]:focus {
  background-color: #d62c1a;
}
.badge-success {
  background-color: rgb(24, 188, 156);
}
.sticky{
  position: relative;
  width: 0;
  height: 0;
  float: right;
  margin-right: -15px;
  margin-top: -75px;
  border-bottom: 100px solid #cecece;
  border-left: 100px solid transparent;
}
.sticky > span {
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    display: inline-block;
    position: absolute;
    top: 57px;
    right: 30px;
    width: 15px;
    font-size: 0.8em;
    color: #fff;
}